<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>メニュー編集</h1>
    <%= form_with model: @menu, url: shop_menu_path(@menu) do |f| %>
      <%= render 'form', f: f %>
    	
      <%= f.submit '投稿', class: "btn btn-primary mt-4" %>
    <% end %>
  </div>
</div>