<%= content_for(:bg_area) do %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">スタグルへようこそ</h1>
      <p class="lead">スタジアムで食べたい物が見つかります。今すぐログインしてみましょう。</p>
    </div>
  </div>
<% end %>